body{
	background:rebeccapurple;
	color:orchid;
	font-family: monospace;
	align-items: center;
	font-size: 35px;
	align-content: center;
}


p{
	width: 1300px;
	border:3px solid white;
	padding: 20px;
	align-self: baseline;
}

.word {
	color: red;

}

.randomizer {
	color: rebeccapurple;
	font-family: monospace;
	background-color:white;
	font-size: 50px;
	margin-bottom: 60px;
	margin-top: 60px;
	width: 250px;

}
















 






  






