body{
  font-family: monospace;
  font-size: 40px;
  background-color:#F7D1D1; 
  color:#F96D71;
  align-content: center;
  margin-top: 40px;
  margin-left: 90px;

}

.text1{
  text-align: center;
  align-content: center;
  width: 210px;
  height:210px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
  border-radius: 25px;
    border: 2px solid white;
 
}

.text2{
  text-align: center;
  align-content: center;
  width: 210px;
  height:210px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 55px;
  border-radius: 25px;
    border: 2px solid white;
 
 
 
}

.box {
  background-color:#F7D1D1;
  height:210px;
  width: 210px;

}


.wrapper {
  width: 800px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(6, 210px);
  grid-template-rows: 210px 210px 210px;
  grid-auto-flow: column;
}

.contacts{
  height:210px;
  width: 210px;
}













  



 



