body{
  font-family: monospace;
  font-size: 40px;
  background-color:#F7D1D1; 
  color:#F96D71;
  align-content: center;
  margin-top: 40px;
  margin-left: 90px;

}


.box {
  background-color:#F7D1D1;
  height:210px;
  width: 210px;
}


.text {
  background-color:#F7D1D1;
  height:210px;
  width: 210px;

 

}


.wrapper {
  width: 800px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(6, 210px);
  grid-template-rows: 210px 210px 210px;
  grid-auto-flow: column;
}

.contacts{
  height:210px;
  width: 210px;
}













  



 



