body {
    font-size:30px;
    font-family:  monospace;
    background-color: black;
    flex-direction: column;
    justify-content:center;
    text-decoration: none;

}

h1{
    align-content:center;
    text-align: center;
    font-size: 37pt;
    text-shadow: -1px -1px 0 wheat, 1px 1px 0 wheat, 1px 1px 0 black, 1px 1px 0 black;
    color:black;
   
   
   
   
}



.text{
    column-count: 2;
    margin-top:20px;
}


a {
    text-align: center;
    align-content: center;
    text-decoration: none;
    text-shadow: -1px -1px 0 wheat, 1px 1px 0 wheat, 1px 1px 0 black, 1px 1px 0 black;
    color: black;
    margin-left: 530px;
    margin-top: 400px;
    font-size: 50pt;
    font-family: 'Roboto', sans-serif;
    font-family: 'Libre Barcode 128', cursive;
    font-family: 'Libre Barcode 128 Text', cursive;
}


   

    


    