lement.style {
}
.square1 {
    display: inline-block;
    width: 568px;
    height: 568px;
    background: #202665;
    position: relative;
}
.rel1 {
    position: relative;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
}
* {
    box-sizing: border-box;
