html,

body {
background-color:red;
display: block;
margin: 10px; 
}


.box{
    width:300px;
    height: 300px;
    border:1px aquamarine; 
    background-color:aquamarine; 
    position: fixed;
    justify-items: center;
    align-items:center;
    padding: 60px;
    transform: rotate(190deg);

  
}

.line{
    width:1400px;
    height: 20px;
    border:4px; 
    background-color:black;
   margin-right: 100pc;
    position:static;
    transform: rotate(30deg); 
}

.box {
    width: 300px;
    height: 300px;
    background-color:aquamarine;
    transform: rotate(60deg);
    position: absolute;


}

.line1{
    width: 1400px;
    height: 20px;
    border:4px; 
    background-color:white;
    position:static;
    transform: rotate(30deg); 
    border-top-right-radius: 100%;
}


.box1 {
    width: 300px;
    border:4px; 
    background-color:black;
     transform: rotate(180deg);
    position:fixed;
    top: 120%;

}

.box2{
        width: 400px;
        height: 400px;
        background-color: orange;
        transform: rotate(30deg);
        position: relative;
        top: 220%;


}




 
   















  


    





   







   

    


    