body{
  font-family: monospace;
  font-size: 40px;
  background-color:#F7D1D1; 
  color: #F96D71;
  align-content: center;
  margin-top: 40px;
  margin-left: 90px;

}

.text1{
  text-align:left;
  font-size: 200px;
  margin-bottom: 50px;

}

.text2{
  border-radius: 25px;
  border: 2px solid white; 
  width: 800px;
  font-size:50px;
  padding: 20px;
  overflow: scroll;
}


















  



 



