body{
  font-family: monospace;
  font-size: 30px;
  background:url('world.gif');
  

}

.header{
  margin-left: 300px;

}

.weather-image{
  display: block;
  position: relative;
  margin-left: 600px;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: auto;
  width: 0%;
  align-content:center;
  z-index: 1;
}















  



 



