body{
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  color:white;
  margin-top: 600px;
}

#circle {
  background-color: #E6FFFF;
  border-radius: 50%;
  position:relative;
  height:50px;
  width: 50px;
  top:150px;
  left:150px;
  animation-name: moving-circle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moving-circle {
  0% {
  top:150px;
  left:150px;
  }
  25% {
    top:300px;
    left:150px;
  }
  50% {
    top:300px;
    left:300px;
  }
  75% {
    top:150px;
    left:300px;
  }
  100% {
    top:150px;
    left:150px;
  }
}





  



 



