html, body {
  height: 100%;
  }

body {
  background:white(240, 230, 205);
  text-align: center;
  font-family: monospace;
  align-content: center;
  }

h1{
  background-image:
  linear-gradient(326deg, #861657 0%, #ffa69e 74%); 
  background-size: 100%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-size: 8em;
  font-family: monospace;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom:0px;
  border: 5px solid black;

 
  }

.header{
  font-size: 4em;
  border: 5px solid #861657 ;
  width: 300px;
  color: #861657;
  margin-left: auto;
  margin-right: auto;
  }


.day{
  font-size: 2em;
  border: 5px solid #861657 ;
  width: 100px;
  color: #861657;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }



  .text1{
    font-size: 2em;
    width: 150px;
    border: 5px solid #ffa69e  ;
    color: #ffa69e ;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    }

    .text2{
      font-size: 2em;
      width: 175px;
      border: 5px solid #ffa69e  ;
      color: #ffa69e ;
      display: block;
      margin-left: auto;
      margin-right: auto;  
      }

      .text3{
        font-size: 2em;
        width: 200px;
        border: 5px solid #ffa69e  ;
        color: #ffa69e ;
        display: block;
        margin-left: auto;
        margin-right: auto;  
        margin-bottom:30px;
        }

      a{
          font-size: 2em;
          border: 2px solid #861657 ;
          width: 100px;
          color: #861657;
          display: block;
          margin-left: auto;
          margin-right: auto;
          }

.image1{
  width: 800px;
  height: 300px;
  margin-top:50px;
            
          }

.image2{
  width: 800px;
  height: 300px;
  margin-bottom:50px;
          }
















  



 



