html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family:neon;
  color: #FB4264;
  font-size: 6vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
  margin-top: 400px;
  margin-bottom: 300px;


 
}
.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.neon1{
  font-family: neon;
  color: #426DFB;
  font-size: 6vw;xs
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
  margin-top: 400px;
  margin-bottom: 200px;
}

.neon1 {
  animation: neon1 2s ease infinite;
  -moz-animation: neon1 2s ease infinite;
  -webkit-animation: neon1 2s ease infinite;
}

@keyframes neon1 {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
  .neon4{
    font-family: neon;
    color: #ebeb93;
    font-size: 2vw;
    line-height: 9vw;
    text-shadow: 0 0 5vw yellow;  
    margin-bottom: 0px;
    margin-top: 400px;

    

  }

  .neon3{
    font-family: neon;
    color: #426DFB;
    font-size: 6vw;xs
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
    margin-top: 400px;
    margin-bottom: 300px;
  
    
    
  }
  
  .neon3 {
    animation: neon3 2s ease infinite;
    -moz-animation: neon3 2s ease infinite;
    -webkit-animation: neon3 2s ease infinite;
  }
  
  @keyframes neon3 {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }

  .arrow{
margin-top: 400px;
}
  









