body {
    font-size:30px;
    font-family:'Dancing Script', cursive;
    color:  purple ;
    text-align: right;

}

h1 { 
 color: rgb(236, 195, 236);
 font-size: 100px;
 text-align: left;
}

h2 {
    font-size: 50px;
    color:rgb(200, 120, 247);
    text-align: left;
}


   









   

    


    