/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: white;
  margin: 30px auto;
  position: relative;
  justify-content: flex-start;
  

}

/* Your CSS goes here */

.cat{
  width: 200px;
  height: 200px;
  background: bisque;
  border-radius: 100px / 50px;
  transform:rotate(270deg);
  margin-inline-start: 160px; 
  margin-top: -210px
}


.petal1 {
  width: 50px;
  height: 50px;
  background:palevioletred;
  border-radius: 100px / 50px;
  transform:rotate(270deg);
  margin-inline-start:480px; 
 
}

.petal2 {
  width: 50px;
  height: 50px;
  background: palevioletred;
  border-radius: 100px / 50px;
  transform:rotate(270deg);
  margin-inline-start: 470px; 
}


.line {
  width: 50px;
  height: 200px;
  background:gray;
  margin-inline-start: 475px;

}

.tea {
  border-bottom: 100px solid goldenrod;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
  background: goldenrod;
  transform:rotate(270deg);

 }


.orange {
  background: orangered;
  margin-inline-start: 300px; 
  margin-top: -220px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-inline-start: 360px;

}

.blue{
  width:150px;
  height: 200px;
  background:blue;
  
}

.book{
  width: 300px;
  height: 100px;
  background:turquoise;
  margin-top: -300px;
  margin-inline-start: 550px;

}

.camera{
  width: 50px;
  height: 100px;
  background:black;
  margin-top: -200px;
  margin-inline-start: 700px;


}















