body {
    font-size:25px;
    font-family: 'Major Mono Display', monospace;
    color:rgb(248, 123, 7);
    background-color:yellow;
    text-align:center;
    
    
}

h1{
    font-size:100px;
    color:red;

}

h2 {
    font-size:70px; 
    color:red;
    display: block;
    margin-block-start: 1 em;
    margin-block-end: 1 em;
    margin-inline-start: 1 px;
    margin-inline-end: 1 px;
    font-weight: bold;
}



  







   

    


    