body {
    font-size:30px;
    font-family:'Courier New', Courier;
    background:salmon;
    align-content: center;
    text-align: center;
    margin-top: 30px;
    color: white;
}

  
















































   

    


    