body{
	background:pink;
	color:red;
	font-family: monospace;
	align-items: center;
	font-size: 20px;
}

.word-adjective-1{
	color:orchid;
}

.word-adjective-2{
	color: orchid;
}

.art-supply{
	color: orchid;
}

.computer-software{
	color: orchid;
}

.website-name{
	color: orchid;
}

.artist-name{
	color: orchid;
}

.celebrity-name{
	color: orchid;
}

.noun-1{
	color: orchid;
}

.noun-2{
	color: orchid;
}

.plural-noun-1{
	color: orchid;	
}

.plural-noun-2{
	color: orchid;	
}

.plural-noun-3{
	color: orchid;	
}

.verb-ending-in-ing{
	color: orchid;	
}

.place-in-new-york{
	color: orchid;	
}

.body-part{
	color: orchid;
}

.numbers{
	color: orchid;
}

.foods{
	color: orchid;
}












 






  






