body{
    display: block;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:8px;
}

.container{
    width: 100vw;
    height: 10vw;
    display: flex;
   
}

.button {
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px  20px;
    display: inline;
    font-size: 30px; 
    font-family: sans-serif;
    cursor: pointer;
    margin-left: 2vh;
  }

  .box{
    width: 10vw;
    height: 10vw;
    border: 2px solid purple;
    background-color: white;
    margin: 40px;
    font-family: avenir, sans-serif;
    font-size: 100px;
    color: purple;
    top: 20vw;
  
  }

  .color{
    background-color: purple;
    color: white;
  }




 



